# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.elf
*.out

# Precompiled Headers #
#######################
*.gch
*.pch

# Libraries #
#############
*.lib
*.a
*.la
*.lo

# Shared objects (DLLs, etc.) #
###############################
*.dll
*.dylib
*.so

# Executables #
###############
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug / Release folders #
###########################
/build/
/Debug/
/Release/
/output/
/dist/
/bin/
/lib/

# Mac / Windows specific #
##########################
.DS_Store
Thumbs.db
